{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}

<div class="container mt-5 pb-3 bg-primary-subtle col-8 shadow rounded-3">


    <h1>Product index</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
                <td>
                    <a href="{{ path('app_product_show', {'id': product.id}) }}">show</a>
                    <a href="{{ path('app_product_edit', {'id': product.id}) }}">edit</a>
                    {{ include('product/_delete_form.html.twig') }}
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_product_new') }}">Create new</a> <a href="/logout" class="mx-3">Logout</a>
</div>
{% endblock %}