{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}

<div class="container col-5 mt-5 border border-2 p-4 shadow">
    <h1>Product</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ product.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ product.name }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ product.price }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-secondary" href="{{ path('app_product_index') }}">Back to list</a>

    <a class="btn btn-warning" href="{{ path('app_product_edit', {'id': product.id}) }}">Edit</a>

    <a class="btn btn-warning" href="{{ path('app_product_delete', {'id': product.id}) }}">Delete</a>


</div>
{% endblock %}